swagger: "2.0"
info:
  description: "Definition for songvoter API"
  version: "0.0.1"
  title: "Songvoter"
  termsOfService: "https://coflnet.com/terms/"
  contact:
    email: "support@coflnet.com"
  license:
    name: "AGPL"
    url: "https://github.com/Coflnet/song-voter/blob/main/LICENSE"
host: "songvoter.coflnet.com"
basePath: "/v1"
tags:
- name: "song"
  description: "Everything about Songs"
  externalDocs:
    description: ""
    url: "http://swagger.io"
- name: "list"
  description: "Manage a playlist"
schemes:
- "https"
paths:
  /songs:
    post:
      tags:
      - "song"
      summary: "Add a new song by url"
      description: ""
      operationId: "addSong"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Pet object that needs to be added to the store"
        required: true
        schema:
          $ref: "#/definitions/SongCreation"
      responses:
        "405":
          description: "Invalid input"
      security:
      - songvoter_auth:
        - "write:song"
        - "read:song"
  /songs/search:
    get:
      tags:
      - "song"
      summary: "Finds Song by search term"
      operationId: "findSong"
      produces:
      - "application/json"
      parameters:
      - name: "term"
        in: "query"
        description: "Search term to serach for"
        required: true
        type: "string"
      responses:
        "200":
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Song"
        "400":
          description: "Invalid search term"
      security:
      - songvoter_auth:
        - "read:song"
  /songs/{songId}:
    get:
      tags:
      - "song"
      summary: "Find song by ID"
      description: "Returns a single song"
      operationId: "getSongById"
      produces:
      - "application/json"
      parameters:
      - name: "songId"
        in: "path"
        description: "ID of song to return"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/Song"
        "400":
          description: "Invalid ID supplied"
        "404":
          description: "Pet not found"
      security:
      - api_key: []
  /lists:
    post:
      tags:
      - "list"
      summary: "Create a new playlist"
      operationId: "createPlaylist"
      parameters:
      - in: "body"
        name: "body"
        description: "An array of songIds to be added to the song"
        required: true
        schema:
          $ref: "#/definitions/PlayList"
      responses:
        "200":
          description: "successful created list"
          schema:
            $ref: "#/definitions/PlayList"
    get:
      tags:
      - "list"
      summary: "Get playlist for active user"
      operationId: "getPlaylists"
      responses:
        "200":
          description: "successful response"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/PlayList"
  /lists/{listId}:
    get:
      tags:
      - "list"
      summary: "Find playlist by ID"
      description: "Returns a playList"
      operationId: "getListById"
      produces:
      - "application/json"
      parameters:
      - name: "listId"
        in: "path"
        description: "ID of list to return"
        required: true
        type: "integer"
        format: "int64"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/PlayList"

  /auth/google:
    post:
      tags:
      - "auth"
      summary: "Authenticate with google"
      description: "Exchange a google identity token for a songvoter token"
      operationId: "authWithGoogle"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "The google identity token"
        required: true
        schema:
          $ref: "#/definitions/AuthToken"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/AuthToken"


securityDefinitions:
  songvoter_auth:
    type: "oauth2"
    authorizationUrl: "https://songvoter.coflnet.com/oauth/dialog"
    flow: "implicit"
    scopes:
      write:song: "modify songs"
      read:song: "read songs "
  api_key:
    type: "apiKey"
    name: "api_key"
    in: "header"
definitions:
  ExternalSong:
    type: "object"
    required: 
    - "externalId"
    - "platform"
    properties:
      id:
        type: "integer"
        format: "int64"
      title:
        type: "string"
        example: "Lady Gaga - Poker Face (Official Music Video)"
      artist:
        type: "string"
        example: "Lady Gaga"
      thumbnail:
        type: "string"
        example: "https://i.ytimg.com/vi/bESGLojNYSo/hq720.jpg"
      externalId:
        type: "string"
        example: "bESGLojNYSo"
      platform:
        type: "string"
        description: "The platform of this song"
        enum:
        - "youtube"
        - "spotify"
    xml:
      name: "Tag"
  Song:
    type: "object"
    required:
    - "song"
    properties:
      id:
        type: "integer"
        format: "int64"
      title:
        type: "string"
        example: "Lady Gaga - Poker Face (Official Music Video)"
      occurences:
        type: "array"
        items:
          $ref: '#/definitions/ExternalSong'

  SongCreation:
    type: "object"
    properties:
      externalId:
        type: "string"
        example: "bESGLojNYSo"
      platform:
        type: "string"
        description: "The platform of this song"
        enum:
        - "youtube"
        - "spotify"      
  PlayList:      
    type: "object"
    properties:
      id:
        type: integer
        example: 43873
      title:
        type: "string"
        example: "My playlist"
      songs:
        type: "array"
        items: 
          type: integer
  AuthToken:
    type: "object"
    properties:
      token:
        type: string
        example: "ey..."

  ApiResponse:
    type: "object"
    properties:
      code:
        type: "integer"
        format: "int32"
      type:
        type: "string"
      message:
        type: "string"
externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"